.tweet-container {
    border: 1px solid blue;
    width: 90vw;
    height: 100vh;
    margin: 0 auto;
}

.tweet-body {

    width: 40vw;
    text-align: left;
    margin: 10px 0 10px 20px;
}

.buttons-container {

    width: 10vw;
    display: flex;
    justify-content: space-between;
}

.delete {
    background-color: red;
}